<section class="header">
  <div class="header-text">
    <img src="images/logo.png" alt="">
    <h2 class="titulo-header">Não encontrou o que procurava na sua farmácia?</h2>
    <p class="paragrafo-header">
      Na AliceFarma, temos uma ampla variedade de medicamentos,
      produtos de saúde e beleza, e ainda oferecemos orientação
      farmacêutica gratuita para você cuidar bem de quem ama.
    </p>
    <button class="btn-pedido" (click)="onButtonClick()">FAZER PEDIDO AGORA</button>
  </div>
  <div class="header-image">
    <img src="images/headerfarmacia.png" alt="Imagem do cabeçalho">
  </div>
</section>

<section class="header-servicos">

  <div class="serv-atendimento">
    <img src="images/entrega-rapida 2.png" alt="serviço">
    <h3>Entrega Rapida</h3>
    <p>Receba seus medicamentos e produtos em poucas horas, direto na sua porta.</p>
  </div>

  <div class="serv-atendimento">
    <img src="images/servico-de-atendimento-ao-consumidor 1.png" alt="serviço">
    <h3>Atendimento Personalizado</h3>
    <p>
      Nossa equipe está pronta para tirar suas dúvidas e indicar os melhores cuidados para sua saúde.
    </p>
  </div>

  <div class="serv-atendimento">
    <img src="images/moeda 1.png" alt="serviço">
    <h3 >Sem Custo De Orientação</h3>
    <p>
      Aconselhamento farmacêutico gratuito — porque cuidar de você é nossa missão.
    </p>
  </div>

</section>

<section class="como-funciona">
  <h2>Como funciona?</h2>

  <div class="steps">
    <div class="step">
      <div class="circle">1</div>
      <h3>Faça seu pedido online</h3>
      <p>Escolha seus produtos pelo site ou WhatsApp, de forma simples e segura.</p>
    </div>

    <div class="line"></div>

    <div class="step">
      <div class="circle">2</div>
      <h3>Converse com um atendente</h3>
      <p>Nossa equipe confirma seu pedido e orienta sobre uso e cuidados.</p>
    </div>

    <div class="line"></div>

    <div class="step">
      <div class="circle">3</div>
      <h3>Receba onde estiver</h3>
      <p>Entrega rápida e segura, mantendo a qualidade dos seus produtos.</p>
    </div>
  </div>
</section>
