<section class="header">
  <div class="header-text">
    <h2>Não encontrou o que procurava na sua farmácia?</h2>
    <p>
      Na AliceFarma, temos uma ampla variedade de medicamentos,
      produtos de saúde e beleza, e ainda oferecemos orientação
      farmacêutica gratuita para você cuidar bem de quem ama.
    </p>
    <button class="btn-pedido" (click)="onButtonClick()">FAZER PEDIDO AGORA</button>
  </div>
  <div class="header-image">
    <img src="assets/images/headerfarmacia.png" alt="Imagem do cabeçalho">
  </div>
</section>