.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2D7C7F;
  color: white;
  flex-wrap: wrap;
}

.titulo-header {
  font-family: "Open Sans";
}

.paragrafo-header {
  font-family: "Open Sans";
  font-style: italic;
}

.header-text {
  flex: 1;
  min-width: 300px;
  margin-right: 2rem;
  margin-left: 50px;
  max-width: 100%;
}

.header-image {
width: 429px;
height: 348px;
padding: 0px 150px;
}

.hero-text h2 {
  font-size: 1.8rem;
}

.btn-pedido {
  font-family: "Konkhmer Sleokchher";
  background: #353637;
  color: white;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 4px;
}
:hover.btn-pedido {
  background: white;
  color: #353637;
  transform: scale(1.15);
  transition: all 0.5s ease;
}

.header-servicos {
  display: flex;
  padding: 5rem;
  align-items: center;
  justify-content: space-around;
   background-color: #f0f0f0ce;
}


.serv-atendimento {
  text-align: left;
  padding: 30px 10px;
  max-width: 260px;
  cursor: pointer;
}

.serv-atendimento h3,
.step h3{
  font-family: "Open Sans";
  font-weight: bold;
  color: #4A5568;
}

.serv-atendimento p,
.step p{
  font-family: "Open Sans";
  font-style: italic;
  color: #4A5568;
}

:hover.serv-atendimento {
  transform: scale(1.15);
  transition: all 0.5s ease;
}

.como-funciona {
  text-align: center;
  padding: 40px 20px;
   background-color: #f0f0f0ce;

}

.como-funciona h2 {
  margin-bottom: 40px;
  font-size: 1.8rem;
  color: #333;
}

.steps {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.step {
  text-align: center;
  max-width: 220px;
}

.circle {
  width: 50px;
  height: 50px;
  background-color: #2D7C7F;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  margin: 0 auto 15px;
  font-weight: bold;
}

.line {
  flex: 1;
  height: 2px;
  background-color: #2D7C7F;
  max-width: 100px;
  margin-top: -138px;
}

/* Responsivo*/
@media (max-width: 768px) {

.btn-pedido {
  background: #353637;
  color: white;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}
}





