.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2D7C7F;
  color: white;
  padding: 2rem;
  flex-wrap: wrap;
}

.header-text {
  flex: 1;
  min-width: 300px;
  margin-right: 2rem;
}

.header-image {

width: 429px;
height: 348px;
}

.hero-text h2 {
  font-size: 1.8rem;
}

.btn-pedido {
  background: #353637;
  color: white;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 4px;
}
:hover.btn-pedido {
  background: white;
  color: #353637;
  transform: scale(1.15);
  transition: all 0.5s ease;
}

.sobre {
  display: flex;
  align-items: center;
  padding: 2rem;
  flex-wrap: wrap;
}

.sobre-img img {
  max-width: 200px;
  border-radius: 50%;
  margin-right: 2rem;
}

.sobre-text {
  flex: 1;
  min-width: 300px;
}
/* Responsivo*/
@media (max-width: 768px) {

.btn-pedido {
  background: #353637;
  color: white;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}
}




